@media screen and (min-width: 1024px) and(max-width: 1028px){



.span12 .contact-box{
margin-left:0;
}

.contact-box.span12{
  margin-left: 26px;
}

}


@media screen and (max-width: 1000px) {

.inner-head h4 {
  color: #D0D0D0;
  float: left;
  margin-top: 13px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

img.rs-view {
display:block;
margin:0 auto;
width:100%;
}


#piecemaker{
display:none;
}

#wowslider-container1 .ws_thumbs{
display:none;
}

.box_skitter_large {
  height:250px;
  margin-left: 0;
  overflow: hidden;
  width: 100%;
}


.box_skitter .image img {
  width: 100%;
  height:100%;
}

.recent-blog .containt {
  float: left;
  margin-left: 25px;
  padding: 20px 10px 35px 50px;
  position: relative;
  transition: all 0.5s ease-out 0s;
  z-index: 8;
}



.refine .contact-box.span12{
margin-left:0;
}

.gallery.full-width #portfolio-sorting.da-thumbs li {
  margin-left: 0;
  margin-right: 0;
  padding: 5px;
}

.gallery.full-width .da-thumbs li .main div p{
display:none;
}

.gallery.full-width .da-thumbs li .main div a.read{
font-size:12px;
padding:4px;
}

.gallery.full-width #portfolio-sorting.da-thumbs li {
  margin-left: 15px;
  padding: 5px;
}

.gallery.full-width #portfolio-sorting.portfolio-grid {
  margin-left: 0;
  width: 100%;
}

.style9 #footer .share_this{
margin-left:0;
}


.contact-form {
  float: left;
  margin-bottom: 30px;
}
/* .about .span6 p,.about .span4 p{
margin-left:10px;
}




.about .span6 h4,.about .span4 h5{
margin-left:10px;
}

 */
 
 body{
 padding-left:10px;
 padding-right:10px;
 }
 
.node-heading, .nodebox{
display:none;
}


#demopanel{
display:none;
}

.da-thumbs.style4{
text-align:left;

}

br.clear{
height:1px;
}

br{
height:1px;
}

.inner-header .span8,.inner-header .span4{
width:100%;
text-align:center;
float:left;
}


.inner-header .span8 nav{
width:100%;
text-align:center;
float:left;
}



.tinynav {
  display: block;
  text-align:center;
	margin: 30px auto 10px auto;
}

.sf-menu{
display:none;
}

.social-icons{
display:none;
}


#header .white-header {
  height: 142px;
}

#header.scroll{
  background: url("../images/header-strip.png") repeat-x scroll 0 5px #00A0DB;
  float: left;
  height: auto;
  width: 100%;
  position:relative;
}


#header.scroll .header-bottom{
display:block;
}

#header.bg h3 ,#header.scroll h3{
  float: left;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}


#header.bg a.logo,#header.scroll a.logo {
	float:none;
	width:100%;
}



.header-bottom .span3.breadcrumbs{
width:100%;
}


.header-bottom {
  text-align: center;
  width:100%;
}

/************** box *************/
.arrow-circle{
display:none;
}

.contact-box {
	text-align:center;

}

.contact-box h4 {
  float: none;
  margin-left: 0;
  font-size:13px;
}

.buttonred {
  display: inline-block;
  float:none;
  margin:12px 0;
}



	
}

@media screen and (max-width: 800px) {


.nivo-caption  .left-caption.white.left{
display:none;
}

.nivo-caption .right-caption{
display:none;
}


.box_skitter_large {
  height:250px;
  margin-left: 0;
  overflow: hidden;
  width: 100%;
}


.box_skitter .image img {
  width: 100%;
  height:100%;
}


.gallery.full-width #portfolio-sorting .main img {
width:100%;
}

.gallery.full-width #portfolio-sorting.da-thumbs li {
  margin-left: 16px;
  margin-right: 0;
  padding: 5px;
}

.gallery.full-width .da-thumbs li .main div p{
display:block;
font-size:11px;
padding-top:4px;
}

.gallery.full-width .da-thumbs li .main div a.read{
margin-top:-10px;
}


.style9 .share_this{
margin-left:30px;
}

.style9 .share_this span{
	margin-bottom:2px;
}
.minimal_form input {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 5px 5px 5px 5px;
  clear: both;
  color: #ADADAD;
  float: left;
  font-size: 16px;
  min-width: 95%;
  padding: 7px 0 7px 10px;
}


.style8.bg .row{
overflow:hidden;
}

span.br{
display:none;
}

.ca-content h6{
font-size:22px;
}

.ca-content-text{
margin:0;
}

.ca-container{
	width:680px;
}


a.ca-more{
left:18%;
}


.ca-nav span{
left:-30px;
}


.ca-nav span.ca-nav-next{
right:-40px;
}



a.button {
margin-bottom:10px;
}

.people .social {
  bottom: -30px;
  left: 33px;
  position: absolute;
  width: 100%;
}

.people {
  background: none repeat scroll 0 0 #F6F6F7;
  float: left;
  margin-bottom: 20px;
  margin-top: 30px;
  position: relative;
}
.people img {
  -moz-box-sizing: border-box;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #EFEFEF;
  float: left;
  padding: 6px;
  width: auto;
}

#portfolio-sorting.portfolio-grid {
  margin-left: 55px;

}
.share_this span{
float:left;
}

.carousel {
  left: 0;
  position: relative;
  width: 99%;
}

/*********** Blog post **********/

.blog {
  margin-right: 50px;
  margin-top: 30px;
  width: 100%;
}

.blog-post {
  float: left;
  width: 100%;
}

.post-contant h3 {
  float: left;
  text-transform: uppercase;
  font-size:100%;
  line-height:25px;
}

.blog-post iframe{
width:100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height:auto;
 }



.blog-post img {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #EEEEEE;
  padding: 5px;
  width:100%;
}


#sidebar {
  margin-top: 30px;
  width: 100%;
}


.sidebar-widget {
  float: left;
  margin-bottom: 30px;
  overflow: hidden;
  text-align: center;
  width: 100%;
}


.search{
display:inline-block;
width:100%;
text-align:center;
}

.search input {
float:none;
}

.search input.submit{
float:none;
margin-top:-10px;
}

.widget-controls {
  left: 60%;
  position: absolute;
}

.tags.custom{
width:100%;
text-align:center;
}



.post-contant{
padding-left:75px;
}

.post-contant:hover{
background:transparent;
}


.post-contant .comment{
left:-70px;
}

.style9 .style7.left_content {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 18px 18px 18px 18px;
  bottom: -59px;
  position: absolute;
  right: 0;
  width:436px;
}

.style9 .style7.left_content h4 {
  margin-left: 0;
}

.style9 .style7.left_content p {
  margin-left:0;
}

.style9 .share_this{
margin-left:0;
}

.style9 .menu_link {
  float: left;
  margin-bottom: 80px;
  margin-top: 40px;
}

.style9 .menu_link li {
  float: left;
  margin-left: 20px;
}

.style9 a.logo {
  bottom: 45%;
  float: left;
  position: relative;
  top:10px;
}




.style9 a.signup {
  bottom: 44%;
  position: relative;
  right: 6%;
}

body{
overflow-x:hidden;
}

h1.center_head{
font-size:20px;
}

.blue_content_box{
height:auto;
}



.blue_content_box .span6 {
width:100%;
text-align:center;
}

.blue_content_box .span6 img{
margin-bottom:10px;
}


.style7.left_content {
  float: left;
  margin-left: 0;
  margin-top: 0;
  width: 100%;
  text-align: center;
}

.style7  .span6{
float:left;
width:100%;
text-align:center;
}


.red_form {
  float: left;
  margin-top: 3px;
  text-align: center;
  width:100%;
}


.red_form .minimal_form:after {
  border-left: 151px solid transparent;
  display:none;

}

.style8 .iphone {
  float: left;
  margin-top: 15px;
  text-align: center;
  width: 100%;
}

.style8 .service-content {
  margin-top: 10px;
  margin-left:0;
  margin-bottom:60px;
}

.red_form .minimal_form {
  padding: 30px 10px 40px;
  float:none;
  margin-top:0;
}





.style8.bg {
height:auto;
}

.minimal_form {
  display: inline-block;
  float: none;
  margin-left: -7px;
  width: 100%;
}



.left_content ,.blue_content_box .left_content{
  float: left;
  margin-top: 0;
  text-align: center;
  width: 100%;
  margin-left:0;
}

.left_content h4,.blue_content_box .left_content h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.hit_box {
  height: auto;
}

.left_content p {
  width: auto;
}

.left_content a.orange_button {
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 20px;
  float:none;
}

.right_content.video {
  float: left;
  margin-top: 0;
  text-align: center;
  width: 100%;
}

.video iframe {
  height: auto;
  overflow: hidden;
  width: 89%;
}


.recent_work_block {
height:auto;
}

.recent_work_block .recent-work {
  margin-left: 0;
}

.pricing_table_wdg {
  margin-left: 10%;
}

.pricing_table_wdg ul {

  margin: 30px 0;

}


.style4 .contact-box.blue{
margin-left:-20px;
}
.width_bigheading .big-heading {
  margin-top: 0;
  text-align: center;
  width: 100%;
 
}


.width_bigheading .big-heading h2{
  text-align: center;
  width: 100%;
  margin-left:0;
  font-size:20px;
}

.width_bigheading .big-heading .slogan{
margin:0;
width:100%;
text-align:center;
}

.width_bigheading .big-heading .slogan h4{
text-align:center;
 /*display: none; */
}

.width_bigheading span.big_button {
  width: 100%;
}

.width_bigheading span.big_button {
  margin-left: 0;
  margin-top:20px;
  margin-bottom:20px;
}

.clients_block ul {
margin-left:3%;
}
.clients_block ul li:first-child{
margin-left:0;
}
.clients_block ul li {
  display: inline;
  float: left;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left:0;
}

div.flicker {
  margin: 0 20px 0 0;
}

.link-list.span6 {
  float: left;
  margin-top: 0;
  padding: 15px 0;
  width: 100%;
}
.big-heading h1 {
  font-size: 42px;
  font-weight: 100;
}


.style4.da-thumbs li {
  box-shadow: none;
  margin: 0 20px 30px 0;
  width: 43%;
}

#da-thumbs {
  margin-left: 10%;
}


#bx-pager a.active:before {
  top: -23px;
}


#bx-pager img {

  width: 40px;
}

.bx-controls-direction{
display:none;
}

.style4 .contact-box.blue{
margin-left:-20px;
}

.contact-box {
margin-left:0;
  }
  
.contact-box.blue{
margin-left:0;
}



}



@media screen and (max-width: 768px) {




.search_box {

  margin-right: 34px;
 
}


.left-caption.white left{
display:none;
}

#wowslider-container1 {
  margin: 10px auto;
  width: 710px;
  margin-left: 25px;
}

.box_skitter_large {
  height:250px;
  margin-left: 0;
  overflow: hidden;
  width: 100%;
}


.box_skitter .image img {
  width: 100%;
  height:100%;
}

.contact-box.span12{
  margin-left: 20px;
  width: 97%;
}


.contact-box.blue.span12{
  margin-left: 20px;
  width: 97%;
}

.gallery.full-width #portfolio-sorting.da-thumbs li {
  margin-left: 19px;
  margin-right: 0;
  padding: 5px;
}

.style9 .newsletter-widget input#submit {
  background: none repeat scroll 0 0 red;
  border: 0 none;
  border-radius: 0 0 0 0;
  clear: both;
  color: #FFFFFF;
  height: auto;
  margin: 0 auto;
  padding: 11px 20px;
}

.gallery.full-width .da-thumbs li .main div a.read{
margin-top:-20px;
}

.style9 .share_this{
margin-left:30px;
}

.style9 .share_this span{
	margin-bottom:2px;
}

.ca-nav span{
left:-23px;
}


.ca-nav span.ca-nav-next{
right:-23px;
}

.ca-close {

  right: 33px;
}
.ca-content h6{
font-size:18px;
}

.ca-content-text{
margin:0;
}
.ca-container {
  width: 684px;
  margin-left:34px;
}



a.ca-more{
left:18%;
}



a.button {
margin-bottom:10px;
}
.people .social {
  bottom: -30px;
  left: 33px;
  position: absolute;
  width: 100%;
}

.people {
  background: none repeat scroll 0 0 #F6F6F7;
  float: left;
  margin-bottom: 20px;
  margin-top: 30px;
  position: relative;
}
.people img {
  -moz-box-sizing: border-box;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #EFEFEF;
  float: left;
  padding: 6px;
  width: auto;
}

#portfolio-sorting.portfolio-grid li {
width:auto;
}

#portfolio-sorting.portfolio-grid {
  width: 100%;
  margin-left: 42px;
}


.share_this {
  float: left;
  width: 100%;
}


.share_this span{
float:none;
}

.carousel {
  left: 40%;
  position: relative;
  width: 22%;
}


.style9 .style7.left_content h4 {
  margin-left: 0;
  width: 100%;
}

.style9 .style7.left_content p {
  float: left;
  margin-left: 0;
  padding-left:12px;
  text-align: center;
  width: 100%;
}


.style9 .style7.left_content {
  background:transparent;
  position: relative;
  width:auto;
}

/**************** big heading ***********/

.big-heading {
  margin-top: 0;
  margin-bottom:30px;
  float:left;
  width:100%;
}

.big-heading h1 {
  font-size: 30px;
  font-weight: 100;
}

.slogan {
  margin-left:0;
}


.slogan h4 {
  color: #383838;
  float: left;
  font-size: 14px;
  font-weight: 100;
  line-height: 24px;
  margin-top: 0;
  margin-bottom:20px;
  padding: 5px;
  text-align: center;
}

/*************** footer ****************/

#footer .footer-widget h4:before{
display:none;
}


/************** subscriber form ***************/

.newsletter-widget input#email {
  background: none repeat scroll 0 0 #DDDDDD;
  border-radius: 0 0 0 0;
  margin: 0 auto;
  padding: 9px 10px;
  float:none;
}

.newsletter-widget input#submit {
  background: none repeat scroll 0 0 red;
  border: 0 none;
  border-radius: 0 0 0 0;
  clear: both;
  color: #FFFFFF;
  height: auto;
  margin: 0 auto;
  padding: 13px 20px;
}

/**************** service block ************/



div.service-block {
  float: left;
  margin-bottom: 20px;
  margin-top: 30px;
}

div.service-block .style{
margin-top:0;
top:-29px;
}



/******** recent works ***********/



#da-thumbs.style4 li .main div p{
  font-size: 9px;
  padding: 0;
}


#da-thumbs.style4 div a.read {
  font-size: 12px;
  margin-top: -5px;
  padding: 3px;
}

.da-thumbs{
text-align:center;
}


.da-thumbs li {
margin-left:18px;
padding: 3px;
width: 43%;
}

.da-thumbs li .main div p {
  font-size: 13px;
  padding-bottom: 0;
}


.da-thumbs li .main div h4 {
margin-top:15px;
}


.da-thumbs:hover div a.read
{
display:block;
}

.da-thumbs div a.read
{
display:none;
margin-top:-5px;
padding:3px; 
font-size:12px;
}

.da-thumbs li a{
text-align:center;
}

.da-thumbs li img{
width:100%;
height:auto;
float:none;
}



div.text{
margin-left:30%;
}

/************** testimonials ******************/

.span6.testimonial{
float:left;
}

/************** footer *************/


#footer .footer-widget {
  float: left;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  text-align:center;
}


#footer .footer-widget h4 {
  float: none;
}

.bottom-footer .span6{
width:100%;
float:left;
}


.bottom-footer {
  padding: 15px 0;
  text-align: center;
  width: 100%;
  font-size:12px;
}

p.copywrite {
  text-align: center;
  width: 100%;
}

.contact-box {
margin-left:0;
  }
  
.service-globe.center{
margin:0 0 20px 0;
}

.service-globe.last{
margin:0 0 40px 0;
}


.service-globe {
  float: none;
  height: 400px;
  margin-right: 59px;
  position: relative;
  text-align: center;
  width: 100%;
}


}


@media screen and (max-width: 600px) {

.search_box:after {
  background: url("../images/search.png") no-repeat scroll center center transparent;
  content: "";
  height: 25px;
  position: absolute;
  right: 30%;
  top: 0;
  width: 16px;
}

.search_box {
  display: inline-block;
  float: none;
  margin-right: 34px;
  margin-top: 10px;
  position: relative;
  text-align: center;
  width: 100%;
}

div input.search-heading{
float:none;
}


.left-caption.white left{
display:none;
}


#wowslider-container1{
width:540px;
margin:10px auto;
}


.box_skitter_large {
  height:250px;
  margin-left: 0;
  overflow: hidden;
  width: 100%;
}


.box_skitter .image img {
  width: 100%;
  height:100%;
}


.contact-box.span12 {
  margin-left: 0;
  width: 100%;
}

.contact-box.blue.span12{ 
  margin-left: 0;
  width: 100%;
}

.service-globe.center{
margin:0 0 20px 0;
}

.service-globe.last{
margin:0 0 40px 0;
}


.service-globe {
  float: none;
  height: 400px;
  margin-right: 59px;
  position: relative;
  text-align: center;
  width: 100%;
}


.gallery.full-width .da-thumbs li .main div p{
display:none;
font-size:11px;
padding-top:4px;
}
.gallery.full-width #portfolio-sorting.da-thumbs li {
  margin-left: 0;
  margin-right: 0;
  padding: 5px;
}
.style9 .share_this {
  margin-left: 30px;
}
.minimal_form input {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 5px 5px 5px 5px;
  clear: both;
  color: #ADADAD;
  float: left;
  font-size: 16px;
  min-width: 97%;
  padding: 7px 0 7px 10px;
}


.ca-nav span{
left:-40px;
}


.ca-nav span.ca-nav-next{
right:-40px;
}



.ca-container {
  width: 58%;
}


.ca-container {
  margin-left:auto;
}

a.ca-more{
left:18%;
display:none;
}

a.button {
margin-bottom:10px;
}
.people {
  background: none repeat scroll 0 0 #F6F6F7;
  float: left;
  margin-bottom: 20px;
  margin-top: 30px;
  position: relative;
  width: 100%;
}
.people img {
  -moz-box-sizing: border-box;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #EFEFEF;
  float: left;
  padding: 6px;
  width: 100%;
}
.portfolio-grid {
  margin-left: 16px;

}

.share_this {
  float: left;
  width: 100%;
}


.share_this span{
float:none;
}

.carousel {
  left: 37%;
  position: relative;
  width: 28%;
}

.widget-controls {
  left: 65%;
  position: absolute;
}

.blog-post img {
  -moz-box-sizing: border-box;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #EEEEEE;
  padding: 5px;
  width: 100%;
}


.style9 .style7.left_content {
  background:transparent;
  position: relative;
  width:auto;
}
.recent_work_block .recent-work{
margin-left:30px;}



#da-thumbs.style4{
text-align:left;
margin-left:5px;
}


#da-thumbs.style4 li{
text-align:left;
}


.contact-box {
  margin-left: 0;
}

#da-thumbs.style4 li .main div p{
  font-size: 9px;
  padding: 0;
}


#da-thumbs.style4 div a.read {
  font-size: 12px;
  margin-top: -5px;
  padding: 3px;
}



/************* Recent blog page ****************/


.recent-blog .containt{
margin-left:30px;
}

.recent-blog .containt a.read{
padding:3px; 
font-size:13px;
}

.comment-cout {
  margin-left: 12px;
}


#da-thumbs {
margin-left:0;
}

/******** service block ***********/

.service-block_2 {
margin-top:0;
}

.service-block_2 .stylish {
  left: 19px;
  top: 10px;
}

.service-content {
  margin-left: 50px;
  padding: 5px 30px 10px;
}


.style4 .contact-box.blue{
margin-left:0;
}


}




@media screen and (max-width: 480px) {

.search_box:after {
  background: url("../images/search.png") no-repeat scroll center center transparent;
  content: "";
  height: 25px;
  position: absolute;
  right: 30%;
  top: 0;
  width: 16px;
}

.search_box {
  display: inline-block;
  float: none;
  margin-right: 34px;
  margin-top: 10px;
  position: relative;
  text-align: center;
  width: 100%;
}

div input.search-heading{
float:none;
}

.nivo-caption{
display:none;
}

#wowslider-container1{
width:420px;
margin:10px auto;
}

.box_skitter_large {
  height:250px;
  margin-left: 0;
  overflow: hidden;
  width: 100%;
}


.box_skitter .image img {
  width: 100%;
  height:100%;
}

.contact-box.span12 {
  margin-left: 0;
  width: 100%;
}


.contact-box.blue .span12{ 
  margin-left: 0;
  width: 100%;
}

.service-globe.center{
margin:0 0 20px 0;
}

.service-globe.last{
margin:0 0 40px 0;
}


.service-globe {
  float: none;
  height: 400px;
  margin-right: 59px;
  position: relative;
  text-align: center;
  width: 100%;
}

.gallery.full-width .da-thumbs li .main div p{
display:none;
font-size:11px;
padding-top:4px;
}
.gallery.full-width #portfolio-sorting.da-thumbs li {
  margin-left: 0;
  margin-right: 0;
  padding: 5px;
}
.style9 .share_this {
  margin-left: 30px;
}


.ca-nav span{
left:-23px;
}

.minimal_form input {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 5px 5px 5px 5px;
  clear: both;
  color: #ADADAD;
  float: left;
  font-size: 16px;
  min-width: 95%;
  padding: 7px 0 7px 10px;
}



.ca-nav span.ca-nav-next{
right:-23px;
}


.ca-container {
  margin-left:auto;
}
.ca-container {
  width: 74%;
}

a.ca-more{
left:20%;
display:none;
}



a.button {
margin-bottom:10px;
}

.people {
  background: none repeat scroll 0 0 #F6F6F7;
  float: left;
  margin-bottom: 20px;
  margin-top: 30px;
  position: relative;
  width: 100%;
}
.people img {
  -moz-box-sizing: border-box;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #EFEFEF;
  float: left;
  padding: 6px;
  width: 100%;
}

#portfolio-sorting.portfolio-grid{
margin-left:0;
}


.share_this {
  float: left;
  width: 100%;
}


.share_this span{
float:none;
}

.carousel {
  left: 34%;
  position: relative;
  width: 35%;
} 

#portfolio-sorting.da-thumbs li {
  margin-left: 15%;
  padding: 5px;
}

.widget-controls {
  left: 68%;
  position: absolute;
}
.style9 .style7.left_content {
  background:transparent;
  position: relative;
}

body{
overflow-x:hidden;
}


.style8 .service-content img{
float:non;
margin-left:20px;
}

.big-heading {
  margin-top: 0;
}

.width_bigheading .big-heading {
  margin-top: 0;
  text-align: center;
  width: 100%;
 
}


.width_bigheading .big-heading h2{
  text-align: center;
  width: 100%;
  margin-left:0;
  font-size:20px;
}

.width_bigheading span.big_button {
  margin-left: 0;
  margin-top:20px;
  margin-bottom:20px;
}
.big-heading h1 {
  font-size: 23px;
  font-weight: 100;
}

.slogan {
  margin-left:0;
}

.slogan h4 {
  color: #383838;
  float: left;
  font-size: 14px;
  font-weight: 100;
  line-height: 24px;
  margin-top: 0;
  margin-bottom:20px;
  padding: 5px;
  text-align: center;
}

.heading-left {
  margin-top: 40px;
}


.da-thumbs li {
 margin-left: 0;
 width:auto;
 padding:5px

}


.style4.da-thumbs li {
  box-shadow: none;
  width:auto;
}

#da-thumbs {
  margin-left: 18%;
}

.da-thumbs li .main div p{
font-size:13px;
}

.contact-box {
  margin-left: 0;
}

.style4 .contact-box.blue{
margin-left:0;
}




/************* Recent blog page ****************/

.recent-blog .containt h4{
font-size:15px;
}

.recent-blog .containt p{
font-size:13px;
}


.comment-cout {
  margin-left:5px;
}


/************* service block **************/

.service-block_2 .stylish {
  left: 10px;
  position: absolute;
  top: 13px;
}

.service-content {
  margin-left: 34px;
  margin-top: -7px;
  padding: 5px 10px 10px 39px;
}

/*********** toggle **********/
.accordion{
margin-left:5px;
}

.accordion a {
  width: 90%;
}


/******** client block *********/

.span12.clients_block ul{
margin-left:5%;
}

.clients_block ul li:first-child {
  margin-left: 0;
}

}

@media screen and (max-width: 320px) {

.search_box:after {
  background: url("../images/search.png") no-repeat scroll center center transparent;
  content: "";
  height: 25px;
  position: absolute;
  right: 20px;
  top: 0;
  width: 16px;
}

.search_box {
  display: inline-block;
  float: none;
  margin-right: 34px;
  margin-top: 10px;
  position: relative;
  text-align: center;
  width: 100%;
}

div input.search-heading{
float:none;
}

#wowslider-container1 .ws_bullets {
  bottom: -58px;
  left: 45%;
}


#wowslider-container1{
width:280px;
margin:10px auto;
}


.box_skitter_large {
  height:250px;
  margin-left: 0;
  overflow: hidden;
  width: 100%;
}


.box_skitter .image img {
  width: 100%;
  height:100%;
}


#bx-pager img {
  background: none repeat scroll 0 0 #FFFFFF;
  height: 35px;
  padding: 3px;
  width: 35px;
  margin-bottom: 10px;
}


.contact-box.blue.span12{ 
  margin-left: 0;
  width: 100%;
}


.contact-box.span12{ 
  margin-left: 0;
  width: 100%;
}
.service-globe {
height:450px;
}
.service-globe.center{
margin:0 0 20px 0;
}

.service-globe.last{
margin:0 0 40px 0;
}

.gallery.full-width .da-thumbs li .main div p{
display:none;
font-size:11px;
padding-top:4px;
}
.gallery.full-width #portfolio-sorting.da-thumbs li {
  margin-left: 0;
  margin-right: 0;
  padding: 5px;
}
.style9 .share_this span {
  float: none;
  margin-bottom: 5px;
}

.minimal_form input {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 5px 5px 5px 5px;
  clear: both;
  color: #ADADAD;
  float: left;
  font-size: 16px;
  min-width: 263px;
  padding: 7px 0 7px 10px;
}
.ca-nav span{
left:-23px;
}


.ca-nav span.ca-nav-next{
right:-23px;
}

.ca-container {
  margin-left:auto;
}


.ca-container{
	width:240px;
}


a.ca-more{
left:18%;
}

.ca-nav span {
  left: -20px;
 
}
.ca-nav span.ca-nav-next {
  background-position: right top;
  left: auto;
  right: -20px;
}



ul.catagories li a {
  color: #383838;
  float: left;
  font-size: 95%;
  font-weight: bold;
  margin-left: 20px;
  padding-top: 7px;
  text-transform: uppercase;
}



.people {
  background: none repeat scroll 0 0 #F6F6F7;
  float: left;
  margin-bottom: 20px;
  margin-top: 30px;
  position: relative;
  width: 100%;
}
.people img {
  -moz-box-sizing: border-box;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #EFEFEF;
  float: left;
  padding: 6px;
  width: 100%;
}

.share_this {
  float: left;
  width: 100%;
}


.share_this span{
float:none;
}

.carousel {
  float: none;
  margin-left: 24%;
  position: relative;
  text-align: center;
  width: 164px;
  left:0;
}

#portfolio-sorting.da-thumbs li {
  margin-left: 5%;
}



.widget-controls {
  left: 75%;
  position: absolute;
}

.style9 .style7.left_content {
  background:transparent;
  position: relative;
  width:100%;
}
/*********** toggle **********/

.accordion a {
  width: 88%;
}



.span12.clients_block ul{
margin-left:10%;
}

/********** recent work ****************/


#da-thumbs{
margin-left:0;
}


.da-thumbs li {
width:auto;
margin-left:0;
}


.da-thumbs li {
margin-left:5%;
}


.da-thumbs .main p{
font-size:12px;
}


.da-thumbs div a.read
{
display:none;
margin-top:-5px;
}


div a.read {
font-size: 12px;
padding:4px;
}

/*************** testimonials ****************/

.span6.testimonial{
float:left;
}


#bx-pager img {
  background: none repeat scroll 0 0 #FFFFFF;
  padding: 3px;
  width:35px;
  height:35px;
}

.bx-controls-direction{
display:none;
}

#bx-pager a.active:before{
display:none;
}


/************* Recent blog page ****************/

.recent-blog .containt h4{
font-size:13.5px;
}

.recent-blog .containt p{
font-size:13px;
}


.comment-cout {
  margin-left: 6px;
}

.style4 .contact-box.blue{
margin-left:0;
}

.newsletter-widget input#submit{
 margin-top:10px;
 }



}
.cssmenu{
float: left;
  margin-bottom: 80px;
  margin-top: 40px;}